{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
	<div class="d-flex">
		{% include "_partials/_menuprofile.html.twig" %}
		<div class="container container-secondary p-3 rounded-3 mt-3 d-flex justify-content-center align-items-center w-75">
			<div class="accordion" id="accordionTheme">
				<div class="accordion-item">
					<h2 class="accordion-header" id="myThemes">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMyTheme" aria-expanded="false" aria-controls="collapseMyTheme">
							Mes thèmes
						</button>
					</h2>
					<div id="collapseMyTheme" class="accordion-collapse collapse" aria-labelledby="myThemes" data-bs-parent="#accordionTheme">
						<div class="accordion-body">
							{% set user = app.user %}
							{% if user.themes is not empty %}
								<h3>Thèmes de {{ user.username }} :</h3>
								<div class="btn-group-vertical">
									{% for theme in user.themes %}
										<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
											<a href="{{ path('profil_theme_edit', {'slug': theme.slug}) }}" class="btn btn-info">{{ theme.name }}</a>
											<div class="btn-group" role="group">
												<a class="btn btn-info" href="{{ path('profil_edit_choice', {'slug': theme.slug}) }}">Modifier les questions</a>
												{% if theme.statut != "Complet" %}
													<a class="btn btn-info" href="{{ path('profil_ajout_question', {'slug': theme.slug}) }}">Ajouter des questions</a>
												{% endif %}
											</div>
										</div>
									{% endfor %}
								</div>
							{% else %}
								<p>{{ user.username }}, vous n'avez pas créé de quizz.</p>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="createTheme">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCreateTheme" aria-expanded="false" aria-controls="collapseCreateTheme">
							Créer un thème
						</button>
					</h2>
					<div id="collapseCreateTheme" class="accordion-collapse collapse" aria-labelledby="createTheme" data-bs-parent="#accordionTheme">
						<div class="accordion-body">
							{% include "profile/_form_theme.html.twig" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
