{% extends 'base.html.twig' %}

{% block title %}SymQuizzWorld - Accueil{% endblock %}

{% block body %}
<div class="container">
    {# Affichage des thèmes complets #}
    {% for theme in completedThemes %}
    <div class="card col-3">
        <div class="card-body">
            <h5 class="card-title text-center">{{ theme.name }}</h5>
            <img src="{{ asset('assets/uploads/themes/mini/862x398-' ~ theme.picture) }}" class="card-img mb-2" alt="{{ theme.name }}">
            <div class="d-flex justify-content-between">
                {% for difficulty in difficulties %}
                <div class="form-check">
                    <a href="{{ path('quizz_start', {'slug': theme.slug, 'name': difficulty.name }) }}">
                        <input class="form-check-input" type="radio" name="{{ theme.name }}_difficulty" id="{{ difficulty.id }}" value="{{ difficulty.name }}" data-dashlane-rid="012abbf69d0b9427" data-form-type="other">
                        <label class="form-check-label" for="{{ difficulty.id }}">
                            {{ difficulty.name }}
                        </label>
                    </a>
                </div>
                {% endfor %}
            </div>    
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
