<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}SymQuizzWorld
			{% endblock %}
		</title>
		{# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> #}
		<link rel="icon" href="{{ asset('assets/img/LogoSymQuizzWorld.png') }}">
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">
		{# BOOTSWATCH #}
		<link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/quartz/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/quartz/bootstrap.min.css.map" rel="stylesheet">
		{# jquery-UI style #}
		<link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.structure.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.theme.min.css') }}">
		{# Font #}
		<style>@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lumanosimo&display=swap')</style>
		{% block stylesheets %}{% endblock %}
		{# CSS #}
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% include "_partials/_header.html.twig" %}
		{% block body %}{% endblock %}
		{# SCRIPT - JQUERY #}
		<script src="{{ asset('assets/js/jquery-3.7.1.min.js') }}"></script>
		{# SCRIPT - JQUERY-UI #}
		<script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
		{# SCRIPT - BOOTSWATCH #}
		<script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
