{% extends 'base.html.twig' %}

{% block title %}Intro au Quizz
{% endblock %}

{% block body %}
	<div class="d-flex">
		<div class="container container-secondary p-3 rounded-3 mt-3 d-flex flex-column justify-content-center align-items-center w-75">
            {% set user = app.user %}
			<h2>{{ theme[0].name }} - Niveau {{ difficulty }}<br><br>
			<span class="userIntro">{{ user.username }}</span>, vous allez pouvoir démarrer ce Quizz</h2>
            <img src="{{ asset('assets/uploads/themes/' ~ theme[0].picture) }}" class="imgIntro mb-2" alt="{{ theme[0].name }}">
            <a href="{{ path('quizz_question', {'slug': theme[0].slug, 'name': difficulty }) }}" class="btn btn-primary btn-lg mt-2">Commencer</a>
		</div>
	</div>
{% endblock %}